In [14]:
from epw import epw #https://github.com/building-energy/epw

epw_trd = epw()
epw_trd.read("./weather_voll/NOR_TD_Trondheim-Voll.012570_TMYx.2007-2021.epw")
epw_trd_df = epw_trd.dataframe
epw_trd_df.head(1)

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,2009,1,1,1,0,?9?9?9?9E0?9?9?9*9*9?9?9?9?9?9?9*9?9*9*9?9*9,-2.3,-2.4,99,100865,...,314,9,999999999,8,0.085,20,88,0.43,0.2,0.0

In [30]:
import pandas as pd
temp_trd = pd.read_csv("./weather_voll/1OutdoorEntrance.csv")
temp_trd = temp_trd.drop(temp_trd.columns[0], axis=1)
temp_trd['timestamp'] = pd.to_datetime(temp_trd['timestamp'],  utc=True).dt.tz_convert('Europe/Rome') #set timezone correctly if not correct in local time
temp_trd

       1OutdoorEntrance                        timestamp
0                 -2.75 2022-01-07 20:56:15.560000+01:00
1                 -2.60 2022-01-07 21:12:30.299000+01:00
2                 -2.65 2022-01-07 21:28:44.729000+01:00
3                 -2.55 2022-01-07 21:44:58.408000+01:00
4                 -2.55 2022-01-07 22:01:11.442000+01:00
...                 ...                              ...
21991             13.85 2022-08-31 19:54:58.244000+02:00
21992             13.65 2022-08-31 20:10:08.727000+02:00
21993             13.25 2022-08-31 20:25:19.896000+02:00
21994             13.05 2022-08-31 20:40:32.395000+02:00
21995             12.80 2022-08-31 20:55:45.637000+02:00

[21996 rows x 2 columns]